.form{
  height:450px;
  width: 288px;
}

.form__input{
background: #FFFFFF;
border: 1px solid #C5CBE0;
box-sizing: border-box;
border-radius: 4px;
padding: 16px;
width: 288px;
height: 56px;
}

.form__termsandconditions{
display: flex;
align-items: center;
}

.form__termsandconditions--checkbox{
  background-color: #43B748;
}

.form__termsandconditions--description{
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 20px;
letter-spacing: 0.2px;
color: #676F8F;
margin-left: 12px ;
}