.plan-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  &__left{
    grid-column: 1 / 1;
    grid-row: 1;
    background-image: url('../../static/Bluerectangle.png');
    background-repeat: no-repeat;
    &--steps{
      display: flex;
      align-items: center;
      margin-left:  128px;
      &--data1{
        margin-left: 16px;
        width: 184px;
        height: 24px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #A3ABCC;
      }
      &--data2{
        margin-left: 16px;
        width: 184px;
        height: 24px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #494F66;
      }
    }
  }
  &__center{
    grid-column: 2 / 2;
    grid-row: 1;
    padding: 0px 20px ;
    &--goback{
      display: flex;
      align-items: center;
      &--turnback{
        margin-left: 16px;
        width: 49px;
        left: 40px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        letter-spacing: 0.6px;
        color: #A3ABCC;
      }
    }
    &--title{
      &--main{
        width: 448px;
        height: 48px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.6px;
        color: #494F66;
        span{
          color:#EF3340;
        }
      }
      &--secon{
        width: 248px;
        height: 28px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: #676F8F;
      }
    }
    &--container{
      display: flex;
      justify-content: space-around;
      width: 384px;
      height: 172px;
      border: 3px solid #F0F2FA;
      box-sizing: border-box;
      border-radius: 12px;
      &--license{
        width: 176px;
        height: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #A3ABCC;
      }
      &--model{
        width: 192px;
        height: 56px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #494F66;
      }
      &--guy{
        width: 108px;
        height: 179px;
      }
    }
    &--insurance{
      display: flex;
      align-content: flex-start;
      &--amount{
        width: 179px;
        height: 24px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #494F66;
        
      }
      &--minmax{
        display: flex;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        color: #676F8F;
        --money{
          width: 100px;
        }
      }
      &--add{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 56px;
        border: 1px solid #C5CBE0;
        box-sizing: border-box;
        border-radius: 8px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin:  55px 44px;
      }
    }
    &--coverages{
      width: 384px;
        &--title{
          display: flex;
          width: 226px;
          height: 28px;
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 28px;
          color: #494F66;
          };
        &--choices{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 15px;
          &--elementone{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 16px;
            width: 128px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.8px;
            text-transform: uppercase;
            color: #EF3340;
            margin-top: 32px;
            padding: 5px 5px;
          }
          &--elementtwo{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 16px;
            width: 128px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.8px;
            text-transform: uppercase;
            color: #494F66;
            margin-top: 32px;
            padding: 5px 5px;
          } 
        }
    }
  }
  &__right{
    grid-column: 3 / 3;
    grid-row: 1;
    &--amount{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0px 0px 0px 0px;
      &--title{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        color: #494F66;
      }
      &--price{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.2px;
        color: #494F66;
      }
      &--month{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #676F8F;
      }
    }
    &--additions{
      &--price{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #494F66;
      }
      &--item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img{
          width: 9.83px;
          height: 8px;
          margin-right: 5px ;
        }
        p{
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          color: #676F8F;


        }
      }
    }
  }    
}



