.thank-container{
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100vh;
  &__left{
    grid-column: 1 / 2;
    background-image: url('../../static/Rectangle.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    &--img{
      width: 416px;
      height: 448px;
    }
  }
  &__right{
    grid-column: 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 128px;
    margin-bottom: 16px;

  &--title{
      width: 480px;
      height: 144px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 48px;
      letter-spacing: -0.2px;
      color: #EF3340;
      span{
        color: #494F66 ;
      }
    }
    
    &--subtitle{
      width: 480px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
      color: #676F8F;
    }
  }
}