.common__button--normal{
  background: #EF3340;
  border-radius: 8px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 20px 32px;
  min-width: 192px;
  border: 0px solid white
}

.common__button--block{
  background: #EF3340;
  border-radius: 8px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 20px 32px;
  min-width: 255px;
  border: 0px solid white
}

.common__button--disabled{
  background-color: #A3ABCC;
}